supportedArchitectures:
  os:
    - current
    - linux
  cpu:
    - current
    - arm64

# npm private registry for @beindigital-engine scope
@beindigital-engine:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
