supportedArchitectures:
  os:
    - current
    - linux
  cpu:
    - current
    - arm64

# GitHub Packages private registry for @be-in-digital scope
@be-in-digital:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
